{% extends 'admintemplate/base.html' %}
{% block title %} Admin Home {% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Django Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <li class="nav-item"><a class="nav-link pr-3" href="{% url 'adminhome' %}">Home</a></li>
      </li>
      <li class="nav-item">
          <li class="nav-item"><a class="nav-link" href="{% url 'adminlogout' %}">Logout</a></li>
      </li>
    </ul>
  </div>
</nav>

<h1 id="admin-text">Admin home  page</h1>

<div class="container">
  <div class="row">

    <div class="col-md-6">
      <a class="fas fa-user-plus fa-lg" id="a-tag" href="{% url 'usercreate' %}"> Create user</a> 
    </div>

    <div class="col-md-6">
      <form method="get">
        {{ search.form }}
        <input class="btn btn-info" type="submit"/>
      </form>
    </div>


    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in search.qs %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ obj.id }}</td>
            <td>{{ obj.username }}</td>
            <td>{{ obj.email }}</td>
            <td>
              <a class="fas fa-edit" id="a-tag" href="{% url 'useredit' obj.id %}"></a> &nbsp &nbsp
              <a class="fas fa-trash-alt" id="a-tag" href="{% url 'userdelete' obj.id %}"></a> &nbsp &nbsp
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>


{% endblock content %}
