{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Django</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">Welcome {{ user.username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  

<img class="wave" src="{% static 'img/wave.png' %}">
<div class="container">
    <div class="img">
        <img src="{% static 'img/bg.svg' %}">
    </div>
    <div class="login-content">

        <form action="" method="POST">
            <img src="{% static 'img/avatar.svg' %}">
            <h2 class="title">Welcome {{ user.username }}</h2>
        </form>
    </div>
</div>

{% endblock content %}