{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block content %}

	<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg.svg' %}">
		</div>
		<div class="login-content">

			<form action="" method="POST">
				{% csrf_token %}
				<img src="{% static 'img/avatar.svg' %}">
				<h2 class="title">Login</h2>
				<p class="text-danger">{{ error }}</p>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
						  <h5>{{ form.username.label }}</h5>
						<input type="text" name="username" onblur="usernameFunction()" id="login-username-input" class="form-control" {{ form.username }}
					</div>
				</div>
				
				<small class="text-danger" id="login-uname-required">*Username required</small>
				<small class="text-danger" id="login-uname-unique">*Username not valid numbers</small>

				<div class="input-div pass">
					<div class="i"> 
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>{{ form.password.label }}</h5>
						<input type="password" name="password" onblur="passwordFunction()" id="login-password-input" minlength="4" class="form-control" {{ form.password }}
					</div>
            	</div>
				<small class="text-danger" id="login-pword-required">*Password required</small>
				<small class="text-danger" id="login-min4-password">*Min 4 lenght</small>

            	<a href="{% url 'register' %}" class="text-decoration-none text-muted"><span>Not a member yet?</span> Join now</a>
            	<input type="submit" class="btn" onclick="loginBtn()" value="Login">
            </form>

        </div>
		
    </div>

<!-- <script src="{% static 'js/validation.js' %}"></script> -->

<style>
	
	#login-uname-required, #login-uname-unique {
		display: none;
	}
	#login-pword-required, #login-min4-password {
		display: none;
	}
	</style>

<script>

var numbers = /^[0-9]+$/;
var letters = /^[A-Za-z]+$/;
var letterNumber = /^[0-9a-zA-Z]+$/;
var symbol = /^[a-zA-Z0-9.]+@/;

function usernameFunction() {
    
    var loginUsernameInput = document.getElementById('login-username-input').value;
    var loginUnameRequired = document.getElementById("login-uname-required")
    var loginUnameUnique = document.getElementById("login-uname-unique")

    if (loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'none';
    } else if (!loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'block'
    }

    if(!loginUsernameInput.match(numbers)) {
        loginUnameUnique.style.display = 'none';
    }else if(loginUsernameInput.match(numbers)) {
		loginUnameUnique.style.display = 'block'
    }
	
	// if (!loginUnameUnique.match(letterNumber)) {
	// 	loginUnameUnique.style.display = 'none';
	// }else if (loginUnameUnique.match(letterNumber)) {
	// 	loginUnameUnique.style.display = 'block'
	// }
}

function passwordFunction() {

    var loginPasswordInput = document.getElementById('login-password-input').value;
    var loginPasswordRequired = document.getElementById("login-pword-required")
    var loginPasswordMin = document.getElementById("login-min4-password")

	if (!loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'block'
	}else if (loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'none'
	}
}

function loginBtn() {

	var loginUsernameInput = document.getElementById('login-username-input').value;
    var loginUnameRequired = document.getElementById("login-uname-required")
    var loginUnameUnique = document.getElementById("login-uname-unique")

    if (loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'none';
    } else if (!loginUsernameInput.match(letterNumber)) {
        loginUnameRequired.style.display = 'block'
    }

    if(!loginUsernameInput.match(numbers)) {
        loginUnameUnique.style.display = 'none';
    }else if(loginUsernameInput.match(numbers)) {
		loginUnameUnique.style.display = 'block'
    }

	var loginPasswordInput = document.getElementById('login-password-input').value;
    var loginPasswordRequired = document.getElementById("login-pword-required")
    var loginPasswordMin = document.getElementById("login-min4-password")

	if (!loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'block'
	}else if (loginPasswordInput.match(letterNumber)) {
		loginPasswordRequired.style.display = 'none'
	}
}

</script>
{% endblock content %}