{% extends 'base.html' %}
{% load static %}
{% block title %} Signup {% endblock title %}

{% block content %}

<img class="wave" src="{% static 'img/wave.png' %}">
<div class="container">
    <div class="img">
        <img src="{% static 'img/bg.svg' %}">
    </div>
    <div class="login-content">

        <form action="" method="POST">
            {% csrf_token %}
            <img src="{% static 'img/avatar.svg' %}">
            <h2 class="title">Signup</h2>
               <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>{{ form.username.label }}</h5>
                        {{ form.username }}
                    </div>
                </div>

                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>{{ form.email.label }}</h5>
                        {{ form.email }}
                    </div>
                </div>

                <div class="input-div pass">
                    <div class="i"> 
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>{{ form.password.label }}</h5>
                        {{ form.password }}
                    </div>
                </div>


                <div class="input-div pass">
                    <div class="i"> 
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>{{ form.password_confirmation.label }}</h5>
                        {{ form.password_confirmation }}
                    </div>
                </div>
                <a href="{% url 'login' %}"><span>Already a member?</span> Sign In</a>
            <input type="submit" class="btn" value="Signup">
        </form>

    </div>
</div>

{% endblock content %}